<?xml version="1.0"?>
<!-- Example of ROS localization using the example wamv with sensors -->
<launch>
  <!-- Publishes static joint transforms (lidar, cameras, etc) to /tf -->
  <node ns="wamv" pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub"/>

  <!-- Publishes revolute joint static transforms (gps and imu) to /tf -->
  <node ns="wamv" pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
    <param name="gui" value="false" />
  </node>

  <!-- Kalman filter fusing imu and gps into combined odometry/tf -->
  <node ns="wamv/robot_localization" pkg="robot_localization" type="ekf_localization_node"
        name="ekf_localization" clear_params="false">
      <rosparam>
        frequency: 10

        sensor_timeout: 0.1
        
        two_d_mode: true
        
        publish_tf: true
        
        publish_acceleration: false
        
        debug: false
        
        debug_out_file: /home/twin_n/vrx_ws/src/sqwoosh/debug/debug1.txt
        
        print_diagnostics: false
        
        map_frame: map
        odom_frame: wamv/odom
        base_link_frame: wamv/base_link
        world_frame: wamv/odom
        
        odom0: /wamv/sensors/gps/gps/fix
        
        odom0_config: [true, true, false,
                       false, false, false,
                       false, false, false,
                       false, false, false,
                       false, false, false]
        
        odom0_queue_size: 20
        
        twist0: cmd_vel
        
        twist0_config: [false, false, false,
                        false, false, false,
                        true, true, false,
                        false, false, false,
                        false, false, false]
        
        twist0_queue_size: 20
        twist0_nodelay: false
        
        
        imu0: /wamv/sensors/imu/imu/data
        
        imu0_config: [false, false, false,
                      true, true, true,
                      false, false, false,
                      true, true, true,
                      false, false, false]
        
        imu0_queue_size: 20
        imu0_relative: true
        
        imu0_remove_gravitational_acceleration: true
        
        gravitational_acceleration: -9.79
        
        initial_state: [0.0, 0.0, 0.0,
                        0.0, 0.0, 0.0,
                        0.0, 0.0, 0.0,
                        0.0, 0.0, 0.0,
                        0.0, 0.0, 0.0]
    </rosparam>
  </node>

  <!-- Produces local odometry from GPS to be used in Kalman filter -->
  <node ns="wamv/robot_localization" pkg="robot_localization" type="navsat_transform_node"
        name="navsat_transform_node" respawn="true" output="screen">      
    <rosparam>
      frequency: 10
      delay: 0.0
      magnetic_declination_radians: 0.07662
      yaw_offset: 0
      zero_altitude: true
      broadcast_utm_transform: true
      broadcast_utm_transform_as_parent_frame: true
      publish_filtered_gps: true
      use_odometry_yaw: false
      wait_for_datum: false
    </rosparam>
  </node>
</launch>
